h1 {
    font-size: var(--fluid-5);
    margin-bottom: 0.5em;
}

h2 {
    font-size: var(--fluid-4);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: var(--fluid-3);
    margin-bottom: 1rem;
}

h4 {
 font-size: var(--fluid-2);
 margin-bottom: 1rem;
}

h5 {
    font-size: var(--fluid-1);
    margin-bottom: 1rem;
}

h6 {
    font-size: var(--fluid-0);
    margin-bottom:1 rem;
}