<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><a href="https://github.com/fupete/nasonero/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a><p>
        <p><span>&copy; 2000-{{ build.timestamp | dateToFormat('yyyy') }} - Erika Gabbani & Daniele Tabellini</span></p>
    </div>
</footer>
