<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} - Erika Gabbani & Daniele Tabellini</span></p>
    </div>
</footer>
