.gallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    @media screen and (min-width: 48em) {
        gap: 16px;
    }
    @media screen and (min-width: 64.0625em) {
        gap: 24px;
    }
    padding: 3.33rem 0;
}

.gallery ul li {
//    flex-grow: 1 1 auto;
    flex-basis: 140px;
    @media screen and (min-width: 48em) {
            flex-basis: 180px;
    }
    @media screen and (min-width: 64.0625em) {
            flex-basis: 256px;
    }
}

.gallery ul li img {
    border-radius: 4px;
  }

.gallery::after {
   /* content: "";
    flex-grow: 999;*/
}