.site-header {
    
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: var(--container-max-width);
        margin: 0 auto;
        padding: 2rem 1rem; // fallback
        padding: clamp(var(--spacing-x-small), 4vw, var(--spacing-x-large)) clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
    }

    .nav--primary {
        
        ul {
            font-size: var(--fluid-1);
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        li {
            margin-left: 2rem;
        &.nav__item--active {
            a {
                font-weight: 500;
                text-decoration: none;
            }
        }
        }
        
        a {
            display: block;
            padding: 0.25em 0;
        }
    }
}
