:root {
    --textColor: #222222;
    --primaryColor: #0066cc;
    --focusColor: #cc6600;
    --backgroundColor: #ffffff;
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --backgroundColor: #222222;
        --textColor: #fafafa;
        --primaryColor: #0066cc;
        --focusColor: #ff6600;
    }
}
