---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">
    <h1>We love Pizza 🍕</h1>
    <p>Lorem ipsum or whatever.</p>
    {% set tagUrl %}/tags/{% endset %}

    <h2>Latest posts</h2>
    <p><a href="{{tagUrl | url}}">Browse all tags</a></p>

    {% set postslist = collections.posts %}
    {% include "home-postslist.njk" %}
  </div>
