---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container home">

  {# {% image "./src/img/buddha.jpg", "photo of my tabby cat" %} #}
  {% image "img/buddha.jpg", "photo of my tabby cat" %}

  <h1>We love pizza&nbsp;🍕, pirates&nbsp;🏴‍☠️ and&nbsp;rainbows&nbsp;🌈</h1>
  <p>We do think, design, art, and teach. This website will be our new playground and portfolio, everything is ongoing,
    right now it is just a sandbox test website, stay tuned 📻🖖</p>

  {# <h2 style="margin-top:4rem; padding-top:4rem;">Explore our world</h2> #}

  <label for="site-search" class="input-search-label">Search the collections</label>
  <div id="search" class="search"></div>

  <h2 style="margin-top:4rem; padding-top:4rem;">Latest notes</h2>

  {% set noteslist = collections.notes %}
  {% include "home-noteslist.njk" %}

  {% set tagUrl %}/tags/{% endset %}
  {% set noteUrl %}/notes/{% endset %}
  <p style="margin-top:6rem"><a href="{{tagUrl | url}}">Browse all tags</a></p>
  <p><a href="{{noteUrl| url}}">Browse all notes</a></p>

</div>

{% set pagefindUrl %}/_pagefind/pagefind-ui.js{% endset %}

<script>
  const initSearch = () => {
    new PagefindUI({ element: '#search', showImages: false })
    // setTimeout(function () {
      const inputSearch = document.querySelector("input")
      inputSearch.setAttribute("id","site-search")
      console.log(inputSearch)
    // }, 500)
  }
</script>

<script src="{{pagefindUrl| url}}" onload="initSearch()"></script>