---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container home">
  
  <h1>We love pizza&nbsp;🍕, pirates&nbsp;🏴‍☠️ and&nbsp;rainbows&nbsp;🌈</h1>
  <p>We do think, design, art, and teach. This website will be our new playground and portfolio, everything is ongoing,
    right now it is just a sandbox test website, stay tuned 📻🖖</p>

  <label for="site-search" class="input-search-label">Search the collections</label>
  <div id="search" class="search"></div>

  <h2 style="margin-top:4rem; padding-top:4rem;">Latest notes</h2>

  {% set noteslist = collections.notes %}
  {% include "home-noteslist.njk" %}

  {% set tagUrl %}/tags/{% endset %}
  {% set noteUrl %}/notes/{% endset %}
  <p style="margin-top:6rem"><a href="{{tagUrl | url}}">Browse all tags</a></p>
  <p><a href="{{noteUrl| url}}">Browse all notes</a></p>

</div>