---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<div class="container">
    <h1>Posts tagged "{{ tag }}"</h1>
    {% set postslist = collections[ tag ] %}
    {% include "postslist.njk" %}
</div>

